@import '@/scss/_global_styles';

.whatIsNew {
  .heading__wrapper {
    margin: 20px 0 15px;
    font-size: 1.1rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__wrapper {
    @include flex($justify: center);
  }
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    align-content: center;
  }
}
