@import "../../scss/global_styles";

.dropdown {
  @include flex(row, center, center);
  position: relative;
  font-family: font(primary-light);
  color: $silver-chalice;
  padding: 5px;

  &__items, &[aria-expanded=true] &__items {
    display: none;
    list-style: none;
    background-color: bg-color(secondary);

    &__element {
      background: none;
	    color: inherit;
	    border: none;
	    padding: 0;
	    font: inherit;
	    cursor: pointer;
      outline: inherit;
      border-bottom: 1px solid $silver-chalice;
      padding: 5px;

      &:hover {
        color: $alto;
      }
    }
  }

  &[aria-expanded=true] {
    .dropdown {
      &__items {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 120%;
        left: 0;
        background-color: $white;
        color: $black;
      }
    }
  }
  .icon {
     margin-top: -5px;
  }
}
