@import '../../scss/global_styles';

.pagination {
  height: max-content;
  display: flex;
  color: $white;
  line-height: 1;
  background-color: $silver-chalice;
  border-radius: 1px;
  box-shadow: 0 10px 20px;
  user-select: none;

  &-nav {
    &-number {
      text-align: center;
      width: 20px;
      background-color: transparent;
      transition: 0.2s ease background-color;

      &--active {
        border-radius: 5px;
        background-color: $emperor;
        transform: scale(1.3);
      }
    }

    &-arrow {
      padding: 3px;

      &:nth-child(1) {
        margin-right: 3px;
      }

      &:last-child {
        margin-left: 3px;
      }

      &__icon {
        margin: 0 !important;
      }

      &--disabled {
        visibility: hidden;
      }
    }

    &-input-container {
      &__input {
        &--error {
          outline: 0;
          border-color: red;
        }

        &--animation {
          animation-name: bounce;
          animation-duration: 0.5s;
          animation-delay: 0.25s;
        }
      }
    }
  }

  .arr-cover {
    width: 1px;
    font-size: 20px;
    text-align: center;
  }

  .arrow {
    padding: 20px;
  }

  @keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
  }
}
