@import '../../../scss/global_styles';



.notifications {
  &__wrapper {
    position: fixed;
    top: 95px;
    right: 20px;
    z-index: 999;
  }

  display: block;
  color: $white;
  padding: 16px;
  margin: 5px;
  opacity: .8;
  transition: top 2s ease;
  width: 200px;
  text-align: center;
  min-height: 55px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.2em;
  
  &__ntf-box {
    @include flex($justify: space-around, $wrap: nowrap, $align: center);
  }

  &__title {
    text-transform: uppercase;
  }

  &.change {
    background-color: #444;
  }

  &.info {
    background-color: #3498db;
  }

  &.success {
    background-color: #2ecc71;
  }

  &.warning {
    background-color: #e67e22;
  }

  &.error {
    background-color: #e74c3c;
  }

  &.custom {
    background-color: purple;
  }
}
