@import '../../scss/global_styles';

.quick-view {
  padding: 1rem 3.5rem;
  padding-bottom: 1.5rem;
  max-height: 60vh;
  max-width: 80vw;

  &-button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .heading__wrapper {
    height: 2rem;
    margin-bottom: 1rem;
  }

  .heading__title {
    font-size: 1.5rem;
  }

  &-content {
    display: flex;
    justify-content: space-evenly;
    height: 90%;

    .product-order {
      display: block;
    }

    .product-image__container {
      flex-wrap: nowrap;
      margin-top: 8px;
      max-width: 40%;
      padding-right: 1rem;
    }

    .product-image__big-image-container {
      max-height: 70%;
      width: fit-content;

      .product-image {
        height: 100%;
      }
    }

    .product-image__small-images-container {
      max-height: 30%;
      .product-image__small-image,
      .product-image {
        height: 100%;
      }
    }

    &__wrapper {
      height: 100%;
    }

    .product-order {
      width: 100%;
      flex-wrap: nowrap;
    }

    .product-order__heading {
      font-size: 1.5rem;
      margin-top: 0;
    }

    .product-order__dropdowns-wrapper {
      height: 7rem;
    }

    .dropdown {
      height: 2rem;
    }

    &__link {
      display: flex;
      justify-content: flex-end;
      padding-top: 8px;
      margin-left: auto;
      color: $orange;

      &:active,
      &:hover {
        color: $dove-gray;
      }
    }

    .button {
      cursor: pointer;
      width: 120px;
      color: $white;
      background-color: $black;

      &:hover {
        color: $black;
        background-color: $white;
      }
    }
  }
}

@include media-for(tablet) {
  .quick-view {
    &-content {
      display: flex;
      height: 90%;

      .heading__title {
        font-size: 5rem;
      }

      .product-order__heading {
        font-size: 1rem;
        margin-top: 0;
      }
    }
  }
}
