@import '../../scss/global_styles';

.title{
  @include flex($align: center);
  @include title-font;
  color: $white;
}

.icon.big{
  margin: 4px 3px;
  color: $black;
}

.icon-item{
  border-radius: 50%;
  margin: 3px;
  background-color: $emperor;
}

