@keyframes open {
  from {
      left: -100vw;
  }
  to {
      left: 0;
  }
}


#burgerbutton {
  display: none;
}

/* You probably want to replace the text part of the label element with a background via css in productive use */

.burgerimage {
  margin: -10px 0 10px 10px;
  font-size: 2.7rem;
  cursor: pointer;
  transition: transform 0.8s ease; 
}

.burger-list {
  display: none;
  margin-left: 5px;
  list-style: none;
}

/* Example styling of the menu */

nav {
  display: flex;
  height: 30px;
  z-index: 100;
}

nav ul {
  display: none;
  position: relative;
  top: 35px;
  margin: 0;
  padding: 0;
  width: 50vw;
  list-style: none;
}

nav ul li {
  display: block;
  width: auto;
}

nav ul li a {
  text-decoration: none;
  // color: #ff0000;
  background-color: #ffffff;
  // border-bottom: 1px solid #8b0000;
  display: block;
  padding: 15px;
  height: 50px;
  transition: background 0.5s ease;
  box-sizing: border-box;
}

nav ul li a:hover {
  background-color: #ffc0cb;
  color: #8b0000;
}

/* Displaying the menu when #burgerbutton is checked */

#burgerbutton:checked~ul {
  display: flex;
  flex-direction: column;
  animation-name: open;
  animation-duration: 0.8s;
}

#burgerbutton:checked~.burgerimage {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.8s ease; 
}

/* And rotate the visible burger button label when its activated */

#burgerbutton:checked~.burgerimage {
  transform: rotate(360deg);
}

@media(min-width:720px) {
  nav ul {
      display: block;
      position: static;
  }
  nav ul li {
      display: inline-block;
  }
  nav ul li a {
      border: none;
  }
  .burgerimage {
      display: none;
  }
}