@import '../../scss/global_styles';

.notifications {
  color: $white;
  padding: 16px;
  position: fixed;
  top: 95px;
  right: 20px;
  z-index: 999;
  opacity: .8;
  transition: top 2s ease;
  width: 200px;
  text-align: center;
  min-height: 55px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.2em;

  &.change {
    background-color: #444;
  }

  &.info {
    background-color: #3498db;
  }

  &.success {
    background-color: #2ecc71;
  }

  &.warning {
    background-color: #e67e22;
  }

  &.error {
    background-color: #e74c3c;
  }

  &.custom {
    background-color: purple;
  }
}
