@import '../../../scss/global_styles';

.page-switcher {
  &__wrapper {
    margin: 10px 0;
  }
  
  &__btn {
    margin: 0 5px;
    padding: 5px;
    border: 1px solid $silver-chalice;
    background-color: transparent;
    color: $silver-chalice;

    &-clicked {
      margin: 0 5px;
      padding: 5px;
      border: 1px solid $silver-chalice;
      background-color: transparent;
      color: $silver-chalice;
      color: $black;
    }
  }

  &__angle-btn {
    background-color: transparent;
    border: none;
  }
}