@import '../../scss/global_styles';

.product-order {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 400px;

  &__heading {
    margin: 10px 0;
    font-size: 2rem;
    font-family: font(secondary);
  }
}