@import '../../../scss/global_styles';

.blog-item {
  margin: 10px 0;
  padding: 10px;

  &__heading, &__date {
    margin: 10px 0;
    text-transform: uppercase;
  }

  &__date, &__text {
    font-size: 0.8rem;
    font-family: font(primary-light);
  }

  &__text {
    text-align: justify;
    color: $dove-gray;
  }

  &__image {
    width: 100%;

    &-wrapper {
      @include flex;
      position: relative;
      margin: 10px 0;
    }
  }

  .onHover {
    @include flex($justify: center, $align: center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
    font-family: font(primary-light);
    text-transform: uppercase;
    color: transparent;

    &:hover {
      color: $white;
      background-image:
      linear-gradient(
        to bottom right, 
        $orange-transparent, $yellow-transparent
      );
    }
  }
}

.bottom-border {
  padding-bottom: 30px;
  border-bottom: 3px solid $black;
}
