// 

@import '../../scss/global_styles';

.carousel-vertical {
  border: 1px solid $black;
  position: relative;
  display: flex;
  margin: 30px;
  width: fit-content;
  height: 400px;

  &__viewport {
    display: flex;
    z-index: 1;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden; 
    width: fit-content;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none; // Firefox
  }

  &__viewport::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  &__nav {
    z-index: 3;
    position: absolute;
    display: flex;
    width: 20px;
    height: 35px;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    opacity: .8;
    transition: opacity .2s ease-in-out;
    color: $black;
  }

  &__left-nav {
    right: 50%;
    top: -35px;
    transform: rotate(90deg);
  }

  &__right-nav {
    right: 50%;
    bottom: -35px;
    transform: rotate(90deg);
  }

  &__nav:hover {
    opacity: 1;
  }

  // &__nav-disabled {
  //   z-index: 0;
  //   opacity: 0;
  //   cursor: default;
  //   user-select: none;
  //   pointer-events: none;
  //   transition: .5;
  // }

  &__child {
    display: inline-block;
    width: 100%;
  }

  i.icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .carousel {

    &__nav {
      display: none;
    }
  }
}
