@import '../../scss/global_styles';
@import '../../scss/styles';

.wrapper {
  &__container {
    @include flex(row, center, center);
    width: 100%;
    align-items: flex-start;
  }
}

@include media-for(mobile-landscape) {
  .wrapper {
    .title {
      text-align: center;
    }

    &__container {
      @include flex($align: flex-start);
      width: 100%;
      align-items: flex-start;
    }
  }
}
