@import '../../scss/global_styles';

.you-will-also-love {
  @include flex($justify: space-between);
  padding: 20px;
  background-color: $alabaster;
  box-shadow: 0 0 3px $mercury;

  &__title {
    width: 100%;
    margin: 20px;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__item {
    @include flex($justify: space-between);
    width: 30%;
    margin: 10px;

    &__title {
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    &__description {
      @include flex($direction: column, $justify: space-between);
      width: 50%;
      padding-bottom: 20px;
    }

    &__price {
      margin: 10px 0;
      font-size: 0.8rem;
      font-family: font(primary-light);
    }
  }

  &__image {
    width: 45%;
  }

  &__quickview-button {
    height: 30px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 0 3px $mercury;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-quick-view {
    min-height: max-content;
    min-width: min-content;
    max-width: 80vw;
    height: 470px;
    padding: 1rem 3.5rem 1rem;

    .heading {
      &__wrapper {
        margin: 0 !important;
        height: 2rem;
      }

      &__title {
        font-size: 1.5rem;
      }
    }

    &-content {
      @include flex($wrap: nowrap);
      height: 90%;
      padding-top: 1rem;

      &-wrapper {
        @include flex($wrap: nowrap, $direction: column, $justify: space-between);
      }

      &__product-order {
        display: block;

        .product-order__heading {
          margin-top: 0;
          font-size: 1.5rem;
        }

        .product-order__dropdowns-wrapper {
          height: 7rem;
        }

        .dropdown {
          height: 2rem;
        }

        .product-order__description {
          display: -webkit-box;
          line-height: 1.8;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow-y: scroll;
          text-decoration: none;
        }
      }

      .product-image {
        height: 100%;

        &__container {
          flex-wrap: nowrap;
          margin-top: 8px;
          padding-right: 1rem;
        }

        &__big-image-container {
          height: 100%;
        }

        &__small-image {
          height: 100%;
        }
      }

      &-wrapper {
        height: 100%;
      }

      &__link {
        @include flex($wrap: nowrap, $justify: flex-end);
        padding-top: 8px;
        margin-left: auto;
        color: $orange;

        &:active,
        &:hover {
          color: $dove-gray;
        }
      }

      .button {
        -webkit-appearance: none;
        width: 120px;
        height: 40px;
        background-color: $black;
        font-family: inherit;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        color: $white;

        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }

  .carousel-image {
    max-width: 90px;
    height: 100%;
    padding-right: 2px;
  }

  &__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    padding: 0px;
    transition: padding 1s;
    transition: all 700ms ease-out;

    &--hovered {
      width: 100%;
      transition: all 700ms ease-out;
      padding: 0px 20px 0 20px;
      transition: padding 1s;
    }

    &__flag {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 60px 0 0;
      border-color: transparent;
      z-index: 2;
    }

    &__labels {
      position: absolute;
      margin: 7px 5px;
      font-family: font(secondary);
      font-size: 0.8rem;
      text-transform: uppercase;
      color: $white;
      z-index: 3;
    }

    &__img {
      width: 100%;
    }
  }

  &__title-wrapper.icons {
    @include flex($direction: row, $justify: space-evenly);
    width: 100%;
  }

  &__title-wrapper {
    margin: 10px 0;
    width: 100%;

    .icons {
      margin-top: 10px;
      border-top: 3px solid $white;
      width: 100%;

      .product__icon {
        @include flex($align: center, $justify: center);
        margin-top: 10px;
        font-size: 1.3rem;
      }

      .product__icon:hover {
        color: $orange;
        transition: 0.3s;
      }
    }

    &-link {
      color: inherit;
      text-decoration: none;

      &__title {
        margin: 10px 0;
        font-family: font(secondary);
        font-size: 0.9rem;
        text-transform: uppercase;

        &--hovered {
          color: $orange;
        }
      }
    }

    &__price {
      font-family: font(primary);
      text-align: center;
      font-size: 0.7rem;
      font-weight: 300;
    }
  }

  &-quick-view {
    padding: 1rem 3.5rem 1rem;
    min-height: max-content;
    min-width: min-content;
    max-width: 80vw;
    height: 470px;

    .heading {
      &__wrapper {
        margin: 0 !important;
        height: 2rem;
      }

      &__title {
        font-size: 1.5rem;
      }
    }

    &-content {
      @include flex($wrap: nowrap);
      height: 90%;
      padding-top: 1rem;

      &-wrapper {
        @include flex($wrap: nowrap, $direction: column, $justify: space-between);
      }

      &__product-order {
        display: block;

        .product-order__heading {
          font-size: 1.5rem;
          margin-top: 0;
        }

        .product-order__dropdowns-wrapper {
          height: 7rem;
        }

        .dropdown {
          height: 2rem;
        }

        .product-order__description {
          display: -webkit-box;
          line-height: 1.8;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow-y: scroll;
          text-decoration: none;
        }
      }

      .product-image {
        height: 100%;

        &__container {
          flex-wrap: nowrap;
          margin-top: 8px;
          padding-right: 1rem;
        }

        &__big-image-container {
          height: 100%;
        }

        &__small-image {
          height: 100%;
        }
      }

      &-wrapper {
        height: 100%;
      }

      &__link {
        @include flex($justify: flex-end, $wrap: nowrap);
        padding-top: 8px;
        margin-left: auto;
        color: $orange;

        &:active,
        &:hover {
          color: $dove-gray;
        }
      }

      .button {
        -webkit-appearance: none;
        width: 120px;
        height: 40px;
        background-color: $black;
        font-family: inherit;
        font-size: 0.8rem;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        
        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}