@import '../../scss/global_styles';

.brand {
  &__title {
    @include title-font;
  }

  &__list {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    &-item {
      cursor: pointer;
      padding: 0 17px;
    }

    &-photo {
      width: 100%;
      transition: all .3s ease-in-out;
      filter: opacity(.3);
    
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__container {
    @extend .container;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .brand__list-item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .brand {
    .col-2 {
      width: 35%;
    }

    &__list {
      justify-content: space-around;

      &-item {
        &:nth-of-type(1n+3) {
          display: none;
        }
      }
    }
  }
}
