@import '../../scss/global_styles';

.brand {
  .heading__wrapper {
    margin: 20px 0 15px;
    font-size: 1.2rem;
  }
  
  &__list {
    @include flex($align: center, $justify: space-between);
    list-style: none;
    width: 100%;
    margin: 30px 0;

    &-item {
      cursor: pointer;
      padding: 0 17px;
    }

    &-photo {
      width: 100%;
      transition: all .3s ease-in-out;
      filter: opacity(.3);

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .container {
    justify-content: center;
  }
}
@include media-for(tablet) {
  .brand__list-item {
    padding: 0 10px;
  }
}

@include media-for(mobile-landscape) {
  .brand {
    .col-2 {
      width: 35%;
    }

    &__list {
      justify-content: space-around;

      &-item {
        &:nth-of-type(1n+3) {
          display: none;
        }
      }
    }
  }
}
