// map of breakpoints according to SRS:
$breakpoints: (
  desktop: 1280px,
  laptop: 1024px,
  tablet: 768px,
  mobile-landscape: 480px,
  mobile-portrait: 320px,
);

// content width for resposive:
$content-width: (
  desktop-large: 1200px,
  desktop: 1000px,
  laptop: 720px,
  tablet : 460px,
  mobile-landscape: 300px,
);