@import '../../scss/global_styles';

.dropdown {
  @include flex(row, center, center);
  position: relative;
  padding: 5px;
  font-family: font(primary-light);
  color: $silver-chalice;

  &__items, &[aria-expanded=true] &__items {
    display: none;
    background-color: bg-color(secondary);
    list-style: none;

    &__element {
      border: none;
      border-bottom: 1px solid $silver-chalice;
      width: 100%;
      padding: 5px;
      background: none;
	    color: inherit;
	    cursor: pointer;
      font: inherit;
      text-align: start;
      outline: inherit;

      &:hover {
        color: $alto;
      }
    }
  }

  &[aria-expanded=true] {
    .dropdown {
      &__items {
        @include flex($direction: column);
        position: absolute;
        top: 120%;
        left: 0;
        background-color: $white;
        color: $black;
        z-index: 3;
      }
    }
  }
  .icon {
     margin-top: -5px;
  }
}

.billing-info__dropdown {
  display: block;
  position: relative;
  padding: 5px;
  color: $black;
  border: 1px solid $silver-chalice;
  background-color: $white;

  &[aria-expanded=true] {
    .dropdown {
      &__items {
        @include flex($direction: column);
        position: absolute;
        top: 105%;
        width: 100%;
        left: 0;
        background-color: $white;
        color: $black;
        z-index: 3;

        &__element {
          background: $mercury;
          outline: 1px solid $mercury;
          text-transform: uppercase;
        }
      }
    }
  }
}