@import '@/scss/_global_styles';
@import '@/scss/_breakpoints';
@import '@/scss/_styles';

.item {
  @include flex(column, center,center);
  align-self: flex-start;
  cursor: pointer;
  padding: spacing(small);
  transition: padding 500ms; 

  &:hover {
    padding: 10px;
    transition: padding 500ms; 
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  &__category {
    display: none;
  }

  &__title {
    @include title-font;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__collection {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .item {
    &__img {
      &-wrapper {
        position: relative;
      }
    }

    &__category {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 15px;
      background: $pale-white;
      padding: 5px 15px 5px 0;
      text-align: end;
      text-transform: uppercase;
      font-size: 0.8em;
      color: $black;
    }
  }
}

@media screen and (max-width: 480px) {

  .item {
    &__img-wrapper {
      width: 40%;
    }

    &__title {
      text-align: left;
      padding-bottom: 5px;
      margin-top: 5px;

      &-wrapper {
        width: 60%;
        text-align: left;
        padding-left: 15px;
      }
    }
  }

  .item.col-4 {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 90%;
  }
}
