@import '../../scss/global_styles';

.productListPage {
  &__wrapper {
    width: 100%;
    justify-content: space-between;
  }

  &__filter {
    width: 30%;
  }

  &__list {
    &-wrapper {
      width: 65%;
    }

    &-title {
      text-align: left;
    }
  }
}
