@import '../../scss/global_styles';

.productListPage {
  &__gridWrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 30px;
    grid-template-areas: "filters poster"
    "filters items"
    "filters items";
    grid-template-columns: 247px 1fr;
    grid-template-rows: 400px 1fr 2fr;
  }

  &__filter {
    grid-area: filters;
  }

  &__poster {
    grid-area: poster;

    &-wrapper {
      margin-top: 10px;
      width: 100%;
    }

    &-img {
      width: 100%;
      height: -webkit-fill-available;
    }
  }

  &__productList {
    grid-area: items;
  }
}

@media screen and (max-width: 800px) {
  .productListPage {
    &__gridWrapper {
      display: flex;
      flex-direction: column;
    }

    &__filter {
      order: 2;
    }

    &__poster {
      order: 1;

      &-img {
        height: auto;
      }
    }

    &__productList {
      order: 3
    }
  }
}
