@import "../../scss/global_styles";

.header {
  text-transform: uppercase;

  .wrapper {
    background-color: $black;
    padding-bottom: 5px;

    .dropdowns {
      width: 100%;
      justify-content: space-evenly;
    }
    
    .heading {
      color: $white;
      font-size: 1.4rem;
      text-align: center;
    }

    .navigation-right {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: $silver-chalice;
    }
  }

  .heading-search-cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    .list-item {
      margin: 0 5px;

      & > a {
        color: $black;
      }
    }
  }

  &__title {
    margin: 10px;
    text-align: center;
    font-family: font(primary);
  }

}
