@import '../../scss/global_styles';

.burger-menu {
  display: flex;
  width: 50px;
  padding-right: 10px;

  @keyframes open {
    from {
      left: -80vw;
    }
    to {
      left: 0;
    }
  }

  .icon {
    font-size: 1.7rem;
  }

  #burger-menu__button {
    display: none;

    &:checked~.burger-menu__list {
      @include flex();
      animation-name: open;
      animation-duration: 0.8s;
    }

    &:checked~.burger-menu__image {
      position: absolute;
      cursor: pointer;
      transition: transform 0.8s ease-in; 
      transform: rotate(360deg);
    }
  }

  &__image {
    margin-top: -10px;
    margin-left: 15px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: transform 0.8s ease; 
  }

  &__list {
    display: none;
    position: relative;
    top: 30px;
    padding: 0;
    list-style: none;
  }

  &__navigation {
    display: flex;
    height: 30px;
    z-index: 100;
  }

  &__list-item {
    display: block;
    width: 120px;
  }

  &__link {
    font-size: 0.9rem;
    text-decoration: none;
    background-color: $white;
    color: $black;
    display: block;
    padding: 15px;
    height: 50px;
    transition: background 0.5s ease;
    box-sizing: border-box;
    border-bottom: 1px solid $alto;

    &:hover {
      background-color: $alto;
      color: $mine-shaft;
    }
  }
}
