@import '../../scss/global_styles';

.go-back-btn {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.product-details {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  

  &-images {
    flex-wrap: nowrap;

    .carousel-image {
      margin-right: 6px;
      max-width: 160px;
      height: 700px;
    }
  }

  &-description {
    margin-left: 1rem;
    width: 40%;

    .button {
      -webkit-appearance: none;
      text-align: center;
      cursor: pointer;
      color: $white;
      background-color: $black;
      font-family: inherit;
      font-size: 0.8rem;
      text-transform: uppercase;
  
      &:hover {
        color: $black;
        background-color: $white;
      }
    }

    &-accordion {
      margin-top: 2rem;
      height: 300px;

      .accordion-item__description {
        color: $dove-gray;
        font-size: 0.9rem;
        font-family: font(primary-light);
      }

      .accordion-item__header,
      .contact-block {
        height: 50px;
      }

      .contact-block {
        border-top: 1px solid $silver-chalice;
    
        &__title {
          color: $black;
        }
    
        &__item {
          transition: background-color linear 0.5s;
          padding: 3px;
          background-color: $black;
          color: $white;
    
          &:hover,
          &:active {
            background-color: $silver-chalice;
          }
    
          a {
            text-decoration: none;
          }
        }
    
        i.icon {
          font-size: 1rem;
          color: $white;
        }
    
        &__icons {
          align-items: center;
        }
      }
    }

    &__product-order {
      .product-order__heading {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 1px;
        padding-bottom: 1rem;
      }

      .product-order__description {
        font-size: 0.9rem;
      }

      .button {
        width: 180px;
        height: 40px;
      }
    }
  }

  .product-image__container {
    width: 60%;
  }

  .product-image__big-image-container {
    width: 100%;

    .product-image {
      width: 100%;
      height: auto;
    }
  }
  .product-image__small-image {
    height: 100%;
  }
}

@include media-for(tablet) {
  .product-details {
    .product-order__heading,
    .product-order__price {
      text-align: center;
    }

    &-images {
      width: 55%;
      flex-direction: column;

      .carousel-image {
        order: 2;
        max-width: unset;
        width: 100%;
        height: unset;

        .carousel-container {
          width: 100%;
          margin-top: 6px;

          .product-image {
            max-width: 120px;
            width: 100%;
            height: auto;
          }
        }
      }

      .product-image {
        width: 100%;
        height: auto;
      }
    }

    .product-image__container {
      width: 50%;
      height: unset;
    }

    .product-image__big-image-container {
      width: 100%;
      height: unset;
    }
    .button {
      width: 110px;
    }
  }
}

@include media-for(mobile-landscape) {
  .product-details {
    flex-direction: column;

    .product-image__container {
      width: 100%;
    }

    .product-details-description {
      max-width: unset;
      width: 90%;
      margin: 0 auto;
    }
  }
}
