// 

@import '../../scss/global_styles';

.carousel {
  // position: relative;

  border: 1px solid $black;
  position: relative;
  margin: 30px;
  width: 600px;
  height: 500px;
  & > div {
  overflow-y: hidden;
  overflow-x: auto; 
  }
  &__viewport {
    display: flex;
    z-index: 1;
    white-space: nowrap;
    width: fit-content;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none; // Firefox
  }

  &__viewport::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  &__nav {
    z-index: 3;
    position: absolute;
    display: flex;
    width: 20px;
    height: 35px;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    opacity: .8;
    transition: opacity .2s ease-in-out;
    // color: $white;
    color: $black;
  }

  &__left-nav {
    left: 10%;
    top: 40%;
  }

  &__right-nav {
    right: 1%;
    top: 40%;
  }

  &__nav:hover {
    opacity: 1;
  }

  &__nav-disabled {
    z-index: 0;
    opacity: 0;
    cursor: default;
    user-select: none;
    pointer-events: none;
    transition: .5;
  }

  &__child {
    display: inline-block;
    width: 100%;
  }

  i.icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .carousel {

    &__nav {
      display: none;
    }
  }
}
