@import "../../scss/global_styles";

.product-image {
  &__container {
    @include flex();
    padding: 0;
    max-width: 350px;
  }

  &__big-image-container {
    @include flex($justify: center);
    width: 100%;
    position: relative;

    & img {
      width: 100%;
    }
  }

  &__small-images-container {
    @include flex($wrap: nowrap);
    padding: 10px 0;
    width: 100%;
  }

  &__small-image {
    @include flex();
    position: relative;

    &:nth-child(2) {
      margin: 0 5px;
    }
  }

  & {
    min-width: 50px;
    max-width: 100%;
    height: auto;
  }

  &__image-on-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(244, 162, 54, 0.7);
    overflow: hidden;
  
    &:hover {
      opacity: 1;
    }
  }

  &__selected-image {
    border: 2px solid rgba(244, 162, 54, 1);;
  }
}

@media only screen and (min-width: 780px) {
  .product-image__container {
    margin-right: 20px;
  }
}
