@import "../../scss/global_styles";

.slide {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 200px;
  padding: 5px;
  white-space: normal;
  color: $black;

  &__image {
    width: 100%;
  }

  &__product-name{
    @include title-sections;
    color: $black;
    text-align: center;
    margin: 10px 0;
    font-size: 0.7rem;
  }

  &__category {
    @include text-sections;
    font-size: 0.5rem;
    margin: 10px 0;
    text-transform: uppercase;
  }
}

