@import '../../scss/global_styles';

.label {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  &__item{
    padding: 5px;
    text-transform: uppercase;
    align-self: flex-end;
  }

  &__sectionTitle {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}