@import "../../../scss/global_styles";

.items-container {
  @include flex;
  position: relative;
  width: 100%;

  &--loader {
    height: 700px;
    max-height: 100vh;
  }

  &__error-container {
    width: 100%;
    padding: 30px 10px;
    text-align: center;
    color: $red;
  }
}
