@import '../../scss/global_styles';

.go-back-btn {
  width: 80px;
  height: 30px;
  margin: 10px;
}

.login-register__button {
  height: 30px;
  width: 160px;
  margin-right: 10px;
  padding: 0 5px;
  background-color: $black;
  border: none;
  color: $white;
  font-size: 0.6rem;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.1);
  }
}

@media only screen and (min-width: 480px) {
  .login-register__button {
    width: 110px;
  }
}