@import '@/scss/_global_styles';

.wishlist {
  @include flex;
  padding: 10px;
  margin-bottom: 15px;

  .content {
    box-shadow: 0 0 3px $mercury;
    margin-bottom: 20px;
  }

  &__title {
    font-family: font(secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 10;
    text-align: center;
    margin: 0 auto;
  }

  &__empty-page {
    @include flex($direction: column, $align: center);
    width: 100%;
    padding: 30px 0;
  }

  &__image {
    margin-left: 40px;
  }

  &__subtitle {
    font-size: 1rem;
  }

  &:nth-child(2) {
    @include flex($justify: flex-start);
  }
}

@include media-for(mobile-landscape) {
  .wishlist {
    &__image {
      margin-left: 0;
    }
  }
}
