@import '../../scss/global_styles';

.wishlist {
  @include flex($justify: space-around);
  box-shadow: 0 0 3px $mercury;
  padding: 10px;
  margin-bottom: 15px;

  &__title {
    font-family: font(secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 10;
    text-align: center;
  }

  &:nth-child(1) {
    margin-bottom: 10px;
  }

  &:nth-child(2) {
    @include flex($justify: flex-start);
    margin-bottom: 20px;
  }
}
