@import '../../scss/global_styles';

.register-form {
  margin-top: 20px;
  border: 1px solid $silver-chalice;
  width: 60%;
  margin: auto;

  &__label {
    display: block;
    text-transform: uppercase;
    font-family: font($type: secondary);
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid $silver-chalice;
    padding: 10px;
  }

  &__wrapper {
    @include flex(row, space-between, null);

    &__personal-information,
    &__address-information {
      margin: 40px 0;
      text-transform: uppercase;
      font-family: font($type: primary-light);
      font-size: 0.8rem;
    }
    
    width: 90%;
    margin: auto;
    padding-left: 10px;

    .errorMessage {
      color: red;
      font-size: 0.75em;
      display: relative;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: font($type: primary-light);
    font-size: 0.6rem;

    &__input {
      margin-top: 3px;
      height: 2rem;
      width: 20vw;
      padding-left: 10px;
      border: 1px solid $silver-chalice;
    }

    &__country {
      width: 20vw;
      height: 30px;
      font-size: inherit;
      background-color: white;
      border-radius: 0%;
      
    }
  }

  &__buttons-wrapper {
    @include flex(column, center, center);

    .black-button {
      width: 20vh;
      height: 40px;
      padding: 10px;
      margin-right: 0;
    }
    
    .link-back {
      margin: 10px 0;
      color: black
    }
  }
}