@import './global_styles';
@import '../components/Header/header.scss';

.main {
  background-color: bg-color(main-block);
}

.footer {
  background-color: bg-color(footer-block);
}

.topic {
  @include flex(column, center, center);
  // background-color: bg-color(footer-block);
  border: 1px solid red;

  &__title {
    @include title-font;
  }

  &__img {
    display: block;
    width: auto;
    height: auto;
    max-height: $topic-photo-height;
    max-width: 100%;
  }
}

.new {
  &__title {
   font-family: font(primary-bold);
   color: text-color(main-block, label1);
  }
}

.collection {
  @include flex($direction: column, $justify: center, $align: center);

  &__title {
    @include title-font;
    font-size: 5rem;
  }
}