@import '../../scss/global_styles';

.accordion {
	width: 300px;

	.contact-block {
		border-top: 1px solid $silver-chalice;

		&__title {
			color: $black;
		}
		
		&__item {
			transition: background-color linear 0.5s;
			padding: 3px;
			background-color: $black;
			color: $white;

			&:hover,
			&:active {
				background-color: $silver-chalice;
			}

			a {
				text-decoration: none;
			}
		}

		i.icon {
			font-size: 1rem;
			color: $white;
		}
	}
}
