@import '../../../scss/global_styles';

.rangeInput {
  position: relative;
  width: 100%;

  input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    border-radius: 10px;
    box-shadow: inset 0 1px 0 0 $mercury, inset 0 -1px 0 0 $alto;
    top: 0;
    width: 100%;
    outline: none;
    height: 15px;
  }

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
  }

  &__prise {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px;
  
    & > div {
      display: flex;
      justify-content: center;
      height: 35px;
      width: 60px;
      border: 2px solid $mercury;
    }
  }
}
